<ion-view view-title="Assignments">
  <ion-content class="padding">
    <div class="list" ng-show="teachersList.length > 0">
      <div>
        <span>Click on this icon <i class="icon ion-person"></i> to view person profile</span>
      </div>
      <div class="item bar-stable item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" style="width: 95%" ng-model="teacherListFilter.value" placeholder="Please filter list using any keyword">
        </label>
      </div>

      <div class="item item-text-wrap item-icon-right" ng-repeat="teacher in teachersList | filter: teacherListFilter.value">
        <a ui-sref="app.parentAssignmentView({teacherId: {{teacher.emp_id}}})" class="text-subdued-frobels" style="text-decoration: underline; color: #387ef5;">{{teacher.emp_name}}</a>
        <!--
          <i class="icon ion-person" style="position: absolute; left: 200px;" ui-sref="app.viewprofile({type: 'teacher', personId: {{teacher.emp_id}}})"></i>
        -->
        <i class="icon icon-accessory ion-chevron-right"></i>
      </div>

    </div>
  </ion-content>
</ion-view>
