<ion-view view-title="Dashboard" cache-view="false">
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-person-stalker" ng-click="studentSelect()" ng-if="childDetails.length > 1">
    </button>
  </ion-nav-buttons>
  <ion-content style="background-color: #f0f5f5">
    <div class="img-slider" ng-if="imageSlides.length > 0">
      <ion-slide-box show-pager="false" does-continue="true" auto-play="true" on-slide-changed="slideHasChanged($index)" active-slide="currentIndex">
        <ion-slide ng-repeat="images in imageSlides">
             <img ng-src="{{ImagesAPI}}{{images.image_src}}" width="60px" height="60px">
              <!-- <img src="img/results.png" width="60px" height="50px"> -->
        </ion-slide>
      </ion-slide-box>
    </div>
    <div ng-if="loginDetails.login_type == 'admin'">
      <div class="row" style="text-align: center">
          <div class="col col-33">
            <a href="#/app/adminresults">
            <img src="img/results.png" width="60px" height="50px">
            <p class="subdued">Results</p>
          </a>
          </div>
        <div class="col col-33">
          <a href="#/app/adminattendance">
            <img src="img/attendance.png" width="60px" height="50px">
            <p class="subdued">Attendance</p>
          </a>
        </div>
        <div class="col col-33">
          <a href="#/app/adminannouncements">
            <img src="img/Announ.jpeg" width="60px" height="50px">
            <p class="subdued">Announcement</p>
          </a>
        </div>
      </div>

      <div class="row" style="text-align: center">
        <div class="col col-33">
          <a ui-sref="app.adminchat({teachers: {{teachersList}}})">
            <img src="img/chat_with_teacher.png" width="60px" height="50px">
            <p class="subdued">Online Teacher</p>
          </a>
        </div>

        <div class="col col-33">
          <a href="#/app/image-gallery">
            <img src="img/image_gallery.png" width="60px" height="50px">
            <p class="subdued">Image Gallery</p>
          </a>
        </div>
        <div class="col col-33">
          <a href="javascript:void(0)" onclick="window.open('https://www.facebook.com/Frobels-Residential-High-School-1244461868958871', '_system', 'location=yes'); return false;">
            <img src="img/facebook.png" width="60px" height="50px">
            <p class="subdued">Facebook</p>
          </a>
        </div>

      </div>
      <!-- https://www.facebook.com/Frobels-Residential-High-School-1244461868958871  openFacebookPage()-->
      <div class="row" style="text-align: center">

        <div class="col col-33" href="javascript:void(0)">
          <a href="javascript:void(0)" onclick="window.open('https://www.youtube.com/watch?v=MCoOoxmdHDk', '_system', 'location=yes'); return false;">
            <img src="img/youtube.png" width="60px" height="50px">
            <p class="subdued">YouTube</p>
          </a>
        </div>

        <!-- ng-click="parentAssignments()" -->
        <div class="col col-33">
          <a ui-sref="app.adminassignment({teachers: {{teachersList}}})">
            <img src="img/assignments.png" width="60px" height="50px">
            <p class="subdued">Assignments</p>
          </a>
        </div>

        <div class="col col-33" href="javascript:void(0)">
          <a href="javascript:void(0)" onclick="window.open('https://api.whatsapp.com/send?phone=919133312647', '_system', 'location=yes'); return false;">
            <img src="img/whatsapp.png" width="60px" height="50px">
            <p class="subdued">Whats app</p>
          </a>
        </div>

      </div>
    </div>

    <div ng-if="loginDetails.login_type == 'parent'">
      <div class="row" style="text-align: center">
          <div class="col col-33">
            <a href="#/app/exams/{{currentStudentId}}">
            <img src="img/results.png" width="60px" height="50px">
            <p class="subdued">Results</p>
          </a>
          </div>
        <div class="col col-33">
          <a href="#/app/attendance/{{currentStudentId}}">
            <img src="img/attendance.png" width="60px" height="50px">
            <p class="subdued">Attendance</p>
          </a>
        </div>
        <div class="col col-33">
          <a href="#/app/notifications/P">
            <img src="img/Announ.jpeg" width="60px" height="50px">
            <p class="subdued">Announcement</p>
          </a>
        </div>
      </div>
      <div class="row" style="text-align: center">
        <div class="col col-33">
          <a href="#/app/chat/{{currentStudentId}}">
            <img src="img/chat_with_teacher.png" width="60px" height="50px">
            <p class="subdued">Online Teacher</p>
          </a>
        </div>

        <div class="col col-33">
          <a href="#/app/image-gallery">
            <img src="img/image_gallery.png" width="60px" height="50px">
            <p class="subdued">Image Gallery</p>
          </a>
        </div>
        <div class="col col-33">
          <a href="javascript:void(0)" onclick="window.open('https://www.facebook.com/Frobels-Residential-High-School-1244461868958871', '_system', 'location=yes'); return false;">
            <img src="img/facebook.png" width="60px" height="50px">
            <p class="subdued">Facebook</p>
          </a>
        </div>
      </div>
      <!-- https://www.facebook.com/Frobels-Residential-High-School-1244461868958871  openFacebookPage()-->
      <div class="row" style="text-align: center">

        <div class="col col-33" href="javascript:void(0)">
          <a href="javascript:void(0)" onclick="window.open('https://www.youtube.com/watch?v=MCoOoxmdHDk', '_system', 'location=yes'); return false;">
            <img src="img/youtube.png" width="60px" height="50px">
            <p class="subdued">YouTube</p>
          </a>
        </div>

        <!-- ng-click="parentAssignments()" -->
        <div class="col col-33">
          <a href="#/app/parentassignmentview/{{currentStudentId}}">
            <img src="img/assignments.png" width="60px" height="50px">
            <p class="subdued">Assignments</p>
          </a>
        </div>

        <div class="col col-33" href="javascript:void(0)">
          <a href="javascript:void(0)" onclick="window.open('https://api.whatsapp.com/send?phone=919133312647', '_system', 'location=yes'); return false;">
            <img src="img/whatsapp.png" width="60px" height="50px">
            <p class="subdued">Whats app</p>
          </a>
        </div>
      </div>
    </div>
    <div ng-if="loginDetails.login_type == 'teacher'">
      <div class="row" style="text-align: center">

        <div class="col col-33">
          <a href="#/app/notifications/T">
            <img src="img/Announ.jpeg" width="60px" height="50px">
            <p class="subdued">Announcement</p>
          </a>
        </div>

        <div class="col col-33">
          <a href="javascript:void(0)" ng-click="textParent()">
            <img src="img/chat_with_teacher.png" width="60px" height="50px">
            <p class="subdued">Online Teacher</p>
          </a>
        </div>

        <div class="col col-33">
          <a href="#/app/image-gallery">
            <img src="img/image_gallery.png" width="60px" height="50px">
            <p class="subdued">Image Gallery</p>
          </a>
        </div>

      </div>
      <!-- https://www.facebook.com/Frobels-Residential-High-School-1244461868958871  openFacebookPage()-->
      <div class="row" style="text-align: center">

        <div class="col col-33">
          <a href="javascript:void(0)" onclick="window.open('https://www.facebook.com/Frobels-Residential-High-School-1244461868958871', '_system', 'location=yes'); return false;">
            <img src="img/facebook.png" width="60px" height="50px">
            <p class="subdued">Facebook</p>
          </a>
        </div>

        <!--
        <div class="col col-33" href="javascript:void(0)">
          <img src="img/whatsapp.png" width="60px" height="50px">
          <p class="subdued">Whatsapp</p>
        </div>
      -->

      <div class="col col-33" href="javascript:void(0)">
        <a href="javascript:void(0)" onclick="window.open('https://www.youtube.com/watch?v=MCoOoxmdHDk', '_system', 'location=yes'); return false;">
          <img src="img/youtube.png" width="60px" height="50px">
          <p class="subdued">YouTube</p>
        </a>
      </div>

      <!-- ng-click="teacherAssignments()" -->
      <div class="col col-33">
        <a href="#/app/teacherassignmentview">
          <img src="img/assignments.png" width="60px" height="50px">
          <p class="subdued">Assignments</p>
        </a>
      </div>

      </div>
      <div class="row" style="text-align: center">

        <div class="col col-33">
          <a href="#/app/teacherAttendanceView">
            <img src="img/attendance.png" width="60px" height="50px">
            <p class="subdued">Attendance</p>
          </a>
        </div>

        <div class="col col-33">
          <p>&nbsp;</p>
        </div>

        <div class="col col-33">
          <p>&nbsp;</p>
        </div>

      </div>
    </div>
  </ion-content>
</ion-view>
