<ion-view view-title="Time Table">
    <ion-content class="padding" style="background-color: #f0f5f5">
        <div ng-if="timetableData.length == 0">
            <div class="card" style="padding: 10px">
                <p> No details to show. </p>
            </div>
        </div>
        <div ng-if="timetableData.length > 0">
            <input style=" width:100%; padding:20px;" type="text" name="datepicker" ng-model="selectedDate" placeholder="search: date, class, number" />
            <div ng-if="timetableData.length > 0">
                <div class="list">
                    <div class="item item-divider" style=" padding: 0px;">
                        <div class="row">
                            <div class="col col-33" style=" text-align: center;">Date</div>
                            <div class="col col-33" style=" text-align: center;">Class</div>
                            <div class="col col-33" style="text-align: center;">Period</div>
                        </div>
                    </div>
                    {{selctedDate}}
                    <ion-item class="row" style=" padding: 0px;" ng-repeat="data in timetableData | filter:selectedDate">
                        <div style="font-size: 12px; text-align: center;" class="col col-33">{{data.date }}</div>
                        <div style="font-size: 12px; text-align: center;" class="col col-33">{{data.class_name}}-{{data.section}}</div>
                        <div style="font-size: 12px; text-align: center;" class="col col-33">{{data.period}}</div>
                    </ion-item>
                </div>
            </div>
    </ion-content>
</ion-view>